body {
  background:
    /*url(pngegg.png) bottom center no-repeat,*/
    url(bluebg.jpeg) no-repeat;
  background-size:
    cover,
    100px auto;
  background-position:
   center,
   bottom center;
  height:100vh;
  margin:0;
}

/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



ul {
  list-style: none;
}

a{
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

/* navbar styling */
header {
  background-color: #b5e2ff;
  padding: 20px;
}

header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: #ffffff;
  font-size: 20px;
  background: #acace6;
  border-radius: 25px;
}
}
